<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/frontend/src/styles/output.css">
    <script type="module" src="/frontend/src/scripts/dist/adminLogin.js"></script>
    <script type="module" src="/frontend/src/scripts/dist/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <nav class=" absolute top-0 right-0 min-w-screen bg-transparent px-6 py-4 flex justify-end items-center  z-50">
  
  <div class="flex items-center gap-4" id="user-label">
    
    <!-- Login Button -->
 
</div>
    <!-- Signup Button -->
    <button
     
      class="px-5 py-2 text-sm font-medium bg-teal-700 text-white rounded-lg hover:bg-gray-800 transition duration-200 shadow-md cursor-pointer"
      id="logout"
    >
     Logout
    </button>

  </div>

</nav>

</body>
</html>